{% extends 'base.html' %}
{% block title %}BNPL Demo Home{% endblock %}
{% block content %}
    <h1 class="mb-4">BNPL Model Validation Demo</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('register') }}">Register User</a></li>
        <li class="list-group-item"><a href="{{ url_for('purchase') }}">Make a Purchase</a></li>
        <li class="list-group-item"><a href="{{ url_for('repay') }}">Repay</a></li>
        <li class="list-group-item"><a href="{{ url_for('income_verification') }}">Income Verification</a></li>
    </ul>
{% endblock %} 